*{
    border: 1px solid red;
    margin: 0;
    top: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside{
    width: 300px;
    height: 100vh;

}
header{
    position:absolute;
    top: 0;
    
    border: 1px solid blue;
    height: 50px;
    width: calc(100vw);
 
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start
}
